<h1>Milk Production Report</h1>

<h2>Total Milk Bottles Produced:</h2>
<ul>
    <li>Plain Milk: {{ total_plain_milk }} bottles</li>
    <li>Sour Milk: {{ total_sour_milk }} bottles</li>
    <li>Chocolate Milk: {{ total_chocolate_milk }} bottles</li>
    <li>Almond Milk: {{ total_almond_milk }} bottles (Not usable)</li>
    <li>Soy Milk: {{ total_soy_milk }} bottles (Not usable)</li>
</ul>

<h2>Cow Production Data</h2>
<ul>
    {% for cow in cows %}
        <li>Cow ID: {{ cow.cow_id }} - Milk Bottles Produced: {{ cow.milk_bottles_produced }}</li>
        {% if cow.is_bsod %}
            <strong>This cow is in BSOD state.</strong>
        {% endif %}
    {% endfor %}
</ul>

<form method="post" action="{% url 'reset_all_milk' %}">

    {% csrf_token %}
    <button type="submit">Reset BSOD Cows</button>
    <button type="submit">Reset All Milk</button>
</form>

<a href="{% url 'home' %}">Go back to the search page</a>
